.header {
    text-align: center;
}
.navbar-fixed-top {
    padding-right: 0;
    padding-left: 0;
    max-height: 300px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
    border-width: 0 0 1px;
}
@media (max-device-width: 480px) and (orientation: landscape) {
  .navbar-fixed-top{
    max-height: 200px;
  }
}
.value-prop {
  margin-top: 1rem; 
  text-align: left;}
.value-props {
  margin-top: 2rem;
  margin-bottom: 4rem; }
.navbar {
  display: none; }


/* Larger than phone */
@media (min-width: 550px) {
  .header {
    margin-top: 18rem; }
  .value-props {
    margin-top: 4rem;
    margin-bottom: 4rem; }
  .value-img {
    margin-bottom: 1rem; }
  .docs-section {
    padding: 6rem 0; }
}
/* Larger than phablet */
@media (min-width: 750px) {
  /* Navbar */
  .navbar + .docs-section {
    border-top-width: 0; }
  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; }
  .navbar-spacer {
    display: none; }
  .navbar > .container {
    width: 100%; }
  .navbar-list {
    list-style: none;
    margin-bottom: 0px;
    display: inline-block;}
  .navbar-item {
    position: relative;
    margin-bottom: 0; 
    float: left;}
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; }
  .navbar-link.active {
    color: #33C3F0; }
  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; }
  .has-docked-nav .navbar-spacer {
    display: block; }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar > .container {
    width: 80%; }
}

/*BADGES!!*/
.city-section {
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
}
.downarrow {
    position: relative;
    float: right;
}
.company-badge {
    position: relative;
    width: 100%;
    height: 180px;
    font-size: 1em;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 1em;
}
.companies {
    display: inline-block;
    vertical-align: top;
    position: relative;
    left: 180px;
    font-size: 1.3em;
    font-weight: bold;
}
.universities, .business-areas {
    position: relative;
    left: 180px;
}
.universities {
    font-style: italic;
}
.score {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: auto;
    height: 1.3em;
    background: rgba(255,255,255,0.7);
    font-weight: bold;
}